@import url('./__like-button/card__like-button.css');
@import url('./__like-button/_is-active/card__like-button_is-active.css');

.card__like-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.card__likes {
  font-size: 13px;
}